@charset 'UTF-8';

/**
 * 
 * @authors zhongwei (zhouzhongwei@sina.com)
 * @date    2016-10-22 20:50:44
 * @version $1.0.0$
 */

.s_fiter
{
    text-align: center;
}

.s_txt
{
    width: 388px;
    height: 34px;
    padding-left: 10px;

    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
}

.s_sub
{
    font-size: 14px;
    line-height: 35px;

    width: 159px;
    height: 35px;
    padding: 0;

    text-align: center;

    color: rgb(230, 80, 30);
    border: 1px solid rgb(230, 80, 30);
    border-radius: 3px;
    background-color: white;
}

.s_del
{
    font-size: 14px;
    line-height: 35px;

    width: 159px;
    height: 35px;
    padding: 0;

    text-align: center;

    color: rgb(176, 168, 165);
    border: 1px solid rgb(176, 168, 165);
    border-radius: 3px;
    background-color: white;
}

.dm
{
    margin: 20px;

    text-align: center;
}

.dm_screen
{
    border: 1px solid rgb(229, 229, 229);
}

.dm .dm_screen .dm_mask
{
    width: 100%;
    height: 380px;
}

.dm .dm_screen .dm_show div
{
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;

    position: absolute;
    top: 0;
    left: 0;

    color: #fff;
}

